<nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="{{ url_for('admin.admin') }}">CV</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% if not current_user.is_anonymous %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if request.endpoint == 'education' %}active{% endif %}">
                    <a class="nav-link" href="{{ url_for('admin.education') }}">{{ _('Учеба') }} <span class="sr-only">({{ _('текущий') }})</span></a>
                </li>
                <li class="nav-item {% if request.endpoint == 'jobs' %}active{% endif %}">
                    <a class="nav-link" href="{{ url_for('admin.jobs') }}">{{ _('Работа') }}</a>
                </li>
                <li class="nav-item {% if request.endpoint == 'skills' %}active{% endif %}">
                    <a class="nav-link" href="{{ url_for('admin.skills') }}">{{ _('Скилы') }}</a>
                </li>
                <li class="nav-item {% if request.endpoint == 'certs' %}active{% endif %}">
                    <a class="nav-link" href="{{ url_for('admin.certs') }}">{{ _('Сертификаты') }}</a>
                </li>
                <li class="nav-item {% if request.endpoint == 'portfolio' %}active{% endif %}">
                    <a class="nav-link" href="{{ url_for('admin.portfolio') }}">{{ _('Портфолио') }}</a>
                </li>
                <li class="nav-item {% if request.endpoint == 'feedback' %}active{% endif %}">
                    <a class="nav-link" href="{{ url_for('admin.feedback') }}">{{ _('Сообщения') }}</a>
                </li>
                <li class="nav-item {% if request.endpoint == 'blog' %}active{% endif %}">
                    <a class="nav-link" href="{{ url_for('admin.blog') }}">{{ _('Блог') }}</a>
                </li>
                <li class="nav-item {% if request.endpoint == 'settings' %}active{% endif %}">
                    <a class="nav-link" href="{{ url_for('admin.settings') }}">{{ _('Настройки') }}</a>
                </li>
            </ul>
        {% endif %}

        <div>
            {% if current_user.is_anonymous %}
                <a href="{{ url_for('admin.login') }}">{{ _('Вход') }}</a>
            {% else %}
                <a href="{{ url_for('admin.logout') }}">{{ _('Выход') }}</a>
            {% endif %}
        </div>
    </div>
</nav>