{% extends 'admin/base.html' %}

{% block body %}
    <div class="actions-wrapper">
        <a href="#" class="btn btn-primary"
           data-toggle="modal"
           data-target="#objectModal"
           data-title="{{ _('Новый параметр') }}"
           data-action="{{ url_for('settings') }}"
        >{{ _('Добавить') }}</a>
    </div>

    <table class="table" id="data_table">
        <thead>
            <tr>
                <th>#</th>
                <th>{{ _('Наименование параметра') }}</th>
                <th>{{ _('Значение параметра') }}</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for setting in settings %}
                <tr>
                    <td>{{ setting.id }}</td>
                    <td>{{ setting.param_name }}</td>
                    <td class="data-cell">{{ setting.param_value }}</td>
                    <td>
                        <a href="#"
                           data-toggle="modal"
                           data-target="#objectModal"
                           data-action="{{ url_for('edit_settings', setting_id=setting.id) }}"
                           data-title="{{ _('Редактирование параметра') }}"
                           data-param_name="{{ setting.param_name }}"
                           data-param_value="{{ setting.param_value }}"
                        ><img src="{{ url_for('static', filename='admin/icons/pencil-square.svg') }}" alt="" width="16" height="16" title="{{ _('Редактировать') }}"></a>
                        &nbsp;&nbsp;&nbsp;
                        <a href="#"
                           data-toggle="modal"
                           data-target="#deleteObjectModal"
                           data-action="{{ url_for('delete_settings', setting_id=setting.id) }}"
                           data-title="{{ _('Подтвердите удаление') }}"
                           data-id={{ setting.id }}
                        ><img src="{{ url_for('static', filename='admin/icons/trash.svg') }}" alt="" width="16" height="16" title="{{ _('Удалить') }}"></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="objectModal" tabindex="-1" role="dialog" aria-labelledby="objectModalLabel"
         aria-hidden="true">
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="objectModalLabel"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            {{ form.param_name.label }} {% if form.param_name.flags.required %}<span class="req">*</span>{% endif %}
                            {{ form.param_name(class='form-control') }}
                            {% if form.param_name.errors %}{{ error.list(form.param_name.errors) }}{% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.param_value.label }} {% if form.param_value.flags.required %}<span class="req">*</span>{% endif %}
                            {{ form.param_value(class='form-control') }}
                            {% if form.param_value.errors %}{{ error.list(form.param_value.errors) }}{% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.param_file.label }} {% if form.param_file.flags.required %}<span class="req">*</span>{% endif %}
                            {{ form.param_file(class='form-control') }}
                            {% if form.param_file.errors %}{{ error.list(form.param_file.errors) }}{% endif %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _('Закрыть') }}</button>
                        {{ form.submit(class='btn btn-primary') }}
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        function firePageEvents() {
            //
        }
    </script>
{% endblock %}