			<!-- Started -->
			<div class="section started">
				<div class="centrize full-width">
					<div class="vertical-center">
						<div class="started-content">
							<div class="h-title glitch-effect" data-text="{{ _('Александр Подрабинович') }}"><span>{{ _('Александр Подрабинович') }}</span></div>
							<div class="h-subtitle typing-subtitle">
								<p>{{ _('Web-разработчик с опытом работы 15+ лет') }}.</p>
								<p>{{ _('Саратов, Россия') }}.</p>
							</div>
							<span class="typed-subtitle"></span>
						</div>
					</div>
				</div>
				<a href="#" class="mouse_btn"><span class="ion ion-mouse"></span></a>
			</div>