				<a href="#" class="menu-btn"><span></span></a>
				<div class="top-menu">
					<ul>
						<li><a href="#section-resume" class="lnk">{{ _('Резюме') }}</a></li>
                        <li><a href="#section-services" class="lnk">{{ _('Услуги') }}</a></li>
						<li><a href="#section-works" class="lnk">{{ _('Портфолио') }}</a></li>
                        <li><a href="{{ url_for('public.blog') }}" class="lnk">{{ _('Блог') }}</a></li>
						<li><a href="#section-contacts" class="lnk">{{ _('Контакты') }}</a></li>
					</ul>
				</div>