				<a href="#" class="menu-btn"><span></span></a>
				<div class="top-menu">
					<ul>
						<li><a href="{{ '/' if request.endpoint != 'public.index' else '' }}#section-resume" class="lnk">{{ _('Резюме') }}</a></li>
                        <li><a href="{{ '/' if request.endpoint != 'public.index' else '' }}#section-services" class="lnk">{{ _('Услуги') }}</a></li>
						<li><a href="{{ '/' if request.endpoint != 'public.index' else '' }}#section-works" class="lnk">{{ _('Портфолио') }}</a></li>
						<li><a href="{{ '/' if request.endpoint != 'public.index' else '' }}#section-contacts" class="lnk">{{ _('Контакты') }}</a></li>
                        <li><a href="https://alex-podrabinovich.medium.com/" class="lnk" target="_blank">{{ _('Блог') }}</a></li>
					</ul>
				</div>