			<!-- Service -->
			<div class="section service" id="section-services">
				<div class="content">
					<div class="title">
						<div class="title_inner">{{ _('Мои услуги') }}</div>
					</div>
					<div class="service-items">
						<div class="service-item">
							<div class="icon"><span class="ion ion-social-chrome"></span></div>
							<div class="name">{{ _('Web разработка') }}</div>
							<p>{{ _('Создание веб проектов любого уровня сложности: от корпоративного сайта до сложного  веб сервиса.') }}</p>
						</div>
						<div class="service-item">
							<div class="icon"><span class="ion ion-code"></span></div>
							<div class="name">{{ _('Программирование') }}</div>
							<p>{{ _('Разработка интеграционных модулей, платежных шлюзов, работа с различными API.') }}</p>
						</div>
						<div class="service-item">
							<div class="icon"><span class="ion ion-social-html5"></span></div>
							<div class="name">{{ _('Фронтэнд') }}</div>
							<p>{{ _('Адаптивная кроссбраузерная верстка.') }}</p>
						</div>
						<div class="service-item">
							<div class="icon"><span class="ion ion-social-usd"></span></div>
							<div class="name">{{ _('Повышение конверсии') }}</div>
							<p>{{ _('Интеграция бизнеса с CRM: Bitrix24, AMO CRM, Gentleman CRM. Оптимизация для поисковых систем - вывод в зелёную зону Google Page Speed и пр.') }}</p>
						</div>
						<div class="service-item">
							<div class="icon"><span class="ion ion-ios-search-strong"></span></div>
							<div class="name">{{ _('Отладка') }}</div>
							<p>{{ _('Поиск и устранение проблемных мест в проекте.') }}</p>
						</div>
						<div class="service-item">
							<div class="icon"><span class="ion ion-help-buoy"></span></div>
							<div class="name">{{ _('Поддержка') }}</div>
							<p>{{ _('Техническая поддержка и ведение проекта.') }}</p>
						</div>
						<div class="service-item">
							<div class="icon"><span class="ion ion-ipad"></span></div>
							<div class="name">{{ _('Чат боты') }}</div>
							<p>{{ _('Разработка Telegram чат-ботов с умной логикой.') }}</p>
						</div>
					</div>
				</div>
			</div>